# macOS
.DS_Store

# Xcode build artifacts
build/
dist/
DerivedData/
*.xcuserstate
*.xcscmblueprint
*.moved-aside

# Xcode user-specific project settings
xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

# Swift Package Manager
.build/
.swiftpm/

# Misc
*.log
